@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);

    /*Neutral*/

    --Very-vark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black : hsl(0, 0%, 0%, .75);

    --current-image-height: 300px;
    --thumbnails-track-height: 90px;
    --thumbnail-width: 100px;
}

body {
    margin: 10px;
}

body,html {
    margin: 0;
    font-family: "Kumbh Sans";
    background: var(--White);
}

.line {
    padding-top: 1%;
    justify-content: center;
    align-items: center;
    width: 1600px;
    padding-left: 10%;
}

.line-under {
    border-top: 1px solid var(--Light-grayish-blue);
}

ul { 
    margin: 2rem 10% 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
}

li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
}

a {
    color: var(--Grayish-blue);
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -70%;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--Orange);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    
}

a:hover:after { 
    width: 100%; 
    left: 0; 
}

.avatar {
  width: 50px;  
  height: 50px;  
  padding: 0;  
  position: absolute;
  top: 7%;
  left: 70%;
  margin-left: 195px;
  border-radius: 50%;
  border: none;  
  cursor: pointer;  
}

.avatar:hover {
    border: 0px solid;
    border-width: medium;
    border-radius: 50%;
    color: var(--Orange);
}

/*
.cart {
    width: 1.5%;
    cursor: pointer;
    float: left;
    position: absolute;
    top: 6%;
    left: 75%;
    transform: translate(-50%, -50%);
} */

.cart {  
    width: 40px;  
    height: 40px;  
    padding: 0;  
    position: absolute;
    top: 7.5%;
    left: 66%;
    margin-left: 195px;
    border-radius: 50%;
    border: none;  
    cursor: pointer;  
}  

/* Notification */
.cart:hover {  
     
}  
  
.cart:hover .popup {  
    visibility: visible;  
    opacity: 1;  
    pointer-events: auto;  
    -webkit-animation-duration: 200ms;  
    -webkit-animation-name: show-popup;  
    -webkit-animation-direction: normal;  
    -webkit-animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);  
    -moz-animation-duration: 200ms;  
    -moz-animation-name: show-popup;  
    -moz-animation-direction: normal;  
    -moz-animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);  
    -o-animation-duration: 200ms;  
    -o-animation-name: show-popup;  
    -o-animation-direction: normal;  
    -o-animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);  
    animation-duration: 200ms;  
    animation-name: show-popup;  
    animation-direction: normal;  
    animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);  
}  
/* popup window style */  
  
.popup {  
    padding: 20px;  
    visibility: hidden;  
    opacity: 0;  
    pointer-events: none;  
    position: absolute;  
    top: 100%;  
    width: 250px;  
    margin-left: -205px;  
    margin-top: 20px;  
    background: #ffffff;  
    border: 1px solid #cbcbcb;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);  
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);  
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);  
}  
  
.popup:after {  
    position: absolute;  
    content: ' ';  
    top: -30px;  
    height: 30px;  
    width: 100%;  
}  
  
.popup:before {  
    position: absolute;  
    content: ' ';  
    left: 220px;  
    top: -9px;  
    width: 16px;  
    height: 16px;  
    border-top: 1px solid #cbcbcb;  
    border-right: 1px solid #cbcbcb;  
    background: #ffffff;  
    -moz-box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);  
    -webkit-box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);  
    box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);  
    -moz-transform: rotate(-45deg);  
    -ms-transform: rotate(-45deg);  
    -webkit-transform: rotate(-45deg);  
    transform: rotate(-45deg);  
}  
  
.cart {  
    background-image: url('images/icon-cart.svg');  
    background-repeat: no-repeat;  
    background-position: center;  
}  
  
.checkout {  
    margin-top: 10px;  
    padding-left: 20px;  
}  
  
.checkout-button {  
    padding: 3px 5px;  
    background: var(--Orange); 
    border-radius: 3px; 
    color: var(--White);  
}  
  
.checkout-button:hover {  
    background: #e54040;  
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    box-shadow: none;  
}  
  
.checkout-button:active {  
    background: #e54040;  
    -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);  
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);  
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);  
}

/** Container */
.carousel {
    max-width: 475px;
    margin-left: 17rem;
    margin-top: 5rem;
  }
  
  
  /** Current image */
  .current-image {
    margin-bottom: 1px;
    
  }
  
    .current-image a {
      display: block;
      height: var(--current-image-height);
      overflow: hidden;
      position: relative;
      
    }
  
      .current-image a:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: box-shadow .1s linear;
      }
  
      .current-image a:focus {
        outline: 0;
      }
  
        .current-image a:focus:before {
          box-shadow: inset 0 0 0 1px black,
                      inset 0 0 0 4px white;
        }
  
    .current-image img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 5%;
    }
  
  
  /** Previous and next buttons */
  .button {
    background: none;
    border: 0;
    cursor: pointer;
    
    font-size: 30px;
    color: rgba(0,0,0,.7);
  
    padding: 0;
    margin: 0 1px;
    flex: 0 0 25px;
    
    transition: all .2s linear;
  }
  
    .button:hover {
      background-color: rgba(0,0,0,.1);
      color: black;
    }
  
    .button:focus {
      outline: none;
      background-color: royalblue;
      color: rgba(255,255,255,1);
    }
  
    .button[aria-disabled="true"] {
      opacity: .3;
    }
  
  /**
    Thumbnails container
  */
  .thumbnails-track {
    display: flex;
  }
  
  .thumbnails {
    overflow: hidden;
    border-radius: 15px;
  }
  
  .slick-track {
    display: flex;
  }
  
  
  /** Single thumbnail */
  .thumbnail {
    flex: 0 0 var(--thumbnail-width);
    margin-right: 1px;
    position: relative;
    margin: 10px;
  }
  
    .thumbnail-button {
      display: block;
      padding: 0;
      margin-top: 1.5rem;
      height: var(--thumbnails-track-height);
      width: 100%;
      border-radius: 15px;
      
      cursor: pointer;
      border: 0;
      background: none;
      background-color: rgba(0,0,0,.4);
      transition: opacity .1s linear;
    }
  
      .thumbnail-button:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: box-shadow .1s linear;
      }
  
      .thumbnail-button:focus {
        outline: 0;
      }
  
        .thumbnail-button:focus img,
        .thumbnail-button:hover img,
        .thumbnail-button[aria-current="true"] img {
          opacity: 1;
          filter: grayscale(0);

          border: 0px solid;
          border-width: medium;
          border-radius: 15px;
          color: var(--Orange);
        }
  
      .thumbnail-button img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15%;
        
        opacity: .5;
        filter: grayscale(.6);
        transition: all .1s linear;
      }
  
  /** Credits at bottom */
  .credits {
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    opacity: .7;
    
  }
  
    .credits img {
      height: 30px;
      margin-left: 5px;
      margin-top: -2px;
      vertical-align: middle;
      
    }
  
    .credits:hover,
    .credits:focus {
      opacity: 1;
    }

.text-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {cursor:pointer; }

.number{
  padding-top: 1.5rem;
  width: 135px;
  height: 50px;
  background-color: var(--Light-grayish-blue);

  padding-top: 15px;
  padding-left: 10px;
  color: var(--Orange);
  border-radius: 5px;
  font-weight: bolder;

}

input[type="text"], textarea {
  background-color: var(--Light-grayish-blue);
}

.number-cart {
  border: none;
  text-align: center;
  width: 90px;
  z-index: -1;
  outline: none;
}

.add-to-cart button {
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--Orange);
  color: var(--White);
  text-align: center;
  width: 270px;
  margin-left: 20px;
}

.add-to-cart button .cart-button {
  filter: brightness(0) invert(1);
  padding-right: 10px;
}

.add-to-cart {
  display: flex;
  padding-top: 2rem;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
}

.details {
  width: 600px;
  height: 500px;
}

.company {
  color: var(--Orange);
  padding-bottom: 1rem;
}

.poduct-text {
  font-size: 46px;
  font-weight: bold;
}

.content p {
  color: var(--Dark-grayish-blue);
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-right: 7rem;
}

.price {
  font-weight: bold;
  font-size: 28px;
  
  padding-bottom: .5rem;
}

.price span {
  color: var(--Orange);
  background-color: var(--Pale-orange);
  display: inline-block;
  width: 50px;
  height: 25px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}

.full-price {
  color: var(--Grayish-blue);
  text-decoration: line-through;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
  